{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="about-me-header">
    <h1 class="display-1 next-pages-link fw-light">{{ information.title }}</h1>
    <h4 class="text-light fw-light mt-3" id="bio">
        {{ information.full_bio }}
    </h4>
</div>
<div class="about-me-body">
    <div class="row about-me-row">
        <div class="col-xl-4 about-me-img-col">
            <img src="{% static 'images/work-experience.png' %}" class="about-me-img">
        </div>
        <div class="col-xl-8 h-100">
            <div class="carousel slide h-100" id="work-exp-slides">
                <div class="carousel-indicators mt-5">
                    {% for num in work_exp_length %}
                        <button type="button" 
                        data-bs-target="#work-exp-slides" 
                        data-bs-slide-to="{{ num }}" 
                        class="carousel-indicator"
                        aria-label="Slide {{ num }}">
                        </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner h-100" id="work-experience">
                    {% for work_exp in information.work_experience.all %}
                        <div class="carousel-item work-exp-carousel-item h-100" 
                        id="{% replacechars work_exp.work_place ' ' '-' %}">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/company-icon.png' %}" height="25"> 
                                        {{ work_exp.work_place }}
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        As a {{ work_exp.as_a }}
                                    </h5>
                                    <h5 class="text-light fw-light">
                                        Employment type - {{ work_exp.employment_type }}
                                    </h5>
                                    <h6 class="text-light fw-light">
                                        {% if work_exp.still_working %}
                                            Period: {{ work_exp.started|date:'d.m.Y' }} - Current
                                        {% else %}
                                            Period: {{ work_exp.started|date:'d.m.Y' }} - {{ work_exp.ended|date:'d.m.Y' }}
                                        {% endif %}
                                    </h6>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        {{ work_exp.comment|truncate:450 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="carousel-item work-exp-carousel-item h-100">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/company-icon.png' %}" height="25"> 
                                        Nothing yet
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        As a Nothing yet
                                    </h5>
                                    <h5 class="text-light fw-light">
                                        Employment type - Nothing yet
                                    </h5>
                                    <h6 class="text-light fw-light">
                                        Period: Nothing yet
                                    </h6>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        Nothing yet
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#work-exp-slides" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#work-exp-slides" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- should-be-reversed class reverses the flex-direction in smaller screens than 1200px -->
    <div class="row about-me-row mt-5" id="should-be-reversed">
        <div class="col-xl-8 h-100">
            <div class="carousel slide h-100" id="education-slides">
                <div class="carousel-indicators mt-5">
                    {% for num in education_length %}
                        <button type="button" 
                        data-bs-target="#education-slides" 
                        data-bs-slide-to="{{ num }}" 
                        class="carousel-indicator-2"
                        aria-label="Slide {{ num }}">
                        </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner h-100" id="education">
                    {% for edu in information.education.all %}
                        <div class="carousel-item education-carousel-item h-100"
                        id="{% replacechars edu.education.degree ' ' '-' %}">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/education.png' %}" height="25"> 
                                        {{ edu.education }}
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        {{ edu.institution }}
                                    </h5>
                                    <h5 class="text-light fw-light">
                                        Faculty - {{ edu.faculty }}
                                    </h5>
                                    <h5 class="text-light fw-light">
                                        Major - {{ edu.major }}
                                    </h5>
                                    <h6 class="text-light fw-light">
                                        {% if edu.still_studying %}
                                            Period: {{ edu.start_date|date:'d.m.Y' }} - Current
                                        {% else %}
                                            Period: {{ edu.start_date|date:'d.m.Y' }} - {{ edu.end_date|date:'d.m.Y' }}
                                        {% endif %}
                                    </h6>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        {{ edu.comment|truncate:450 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="carousel-item education-carousel-item h-100">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/education.png' %}" height="25"> 
                                        Nothing yet
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        Nothing yet
                                    </h5>
                                    <h5 class="text-light fw-light">
                                        Faculty - Nothing yet
                                    </h5>
                                    <h5 class="text-light fw-light">
                                        Major - Nothing yet
                                    </h5>
                                    <h6 class="text-light fw-light">
                                        Period: Nothing yet
                                    </h6>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        Nothing yet
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#education-slides" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#education-slides" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-xl-4 about-me-img-col">
            <img src="{% static 'images/education.png' %}" class="about-me-img">
        </div>
    </div>
    <div class="row about-me-row mt-5">
        <div class="col-xl-4 about-me-img-col">
            <img src="{% static 'images/languages.png' %}" class="about-me-img">
        </div>
        <div class="col-xl-8 h-100">
            <div class="carousel slide h-100" id="languages-slides">
                <div class="carousel-indicators mt-5">
                    {% for num in languages_length %}
                        <button type="button" 
                        data-bs-target="#languages-slides" 
                        data-bs-slide-to="{{ num }}" 
                        class="carousel-indicator-3"
                        aria-label="Slide {{ num }}">
                        </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner h-100" id="languages">
                    {% for lang in information.languages.all %}
                        <div class="carousel-item languages-carousel-item h-100"
                        id="{% replacechars lang.language ' ' '-' %}">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/languages-sm.png' %}" height="25"> 
                                        {{ lang.language }}
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        Knowledge degree - {{ lang.knowledge_extent }}
                                    </h5>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        {{ lang.comment|truncate:450 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="carousel-item languages-carousel-item h-100">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/languages-sm.png' %}" height="25"> 
                                        Nothing yet
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        Knowledge degree - Nothing yet
                                    </h5>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        Nothing yet
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#languages-slides" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#languages-slides" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- should-be-reversed class reverses the flex-direction in smaller screens than 1200px -->
    <div class="row about-me-row mt-5" id="should-be-reversed">
        <div class="col-xl-8 h-100">
            <div class="carousel slide h-100" id="programming-languages-slides">
                <div class="carousel-indicators mt-5">
                    {% for num in programming_languages_length %}
                        <button type="button" 
                        data-bs-target="#programming-languages-slides" 
                        data-bs-slide-to="{{ num }}" 
                        class="carousel-indicator-4"
                        aria-label="Slide {{ num }}">
                        </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner h-100" id="programming">
                    {% for plang in information.programming_languages.all %}
                        <div class="carousel-item programming-languages-carousel-item h-100"
                        id="{% replacechars plang.language ' ' '-' %}">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/programming-languages.png' %}" height="25"> 
                                        {{ plang.language }}
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        {% if plang.still_learning and plang.language == 'Python' %}
                                            Still learning - True
                                        {% elif plang.still_learning and plang.language == 'JavaScript' %}
                                            Still learning - true
                                        {% elif plang.still_learning %}
                                            Still learning - True
                                        {% else %}
                                            Still learning - False
                                        {% endif %}
                                    </h5>
                                    <h6 class="text-light fw-light">
                                        {% if plang.still_learning %}
                                            Period: {{ plang.started|date:'d.m.Y' }} - Current
                                        {% else %}
                                            Period: {{ plang.started|date:'d.m.Y' }} - {{ plang.ended|date:'d.m.Y' }}
                                        {% endif %}
                                    </h6>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        {{ plang.comment|truncate:450 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="carousel-item programming-languages-carousel-item h-100">
                            <div class="custom-caption h-100">
                                <div class="inner-caption h-100">
                                    <h2 class="text-light fw-light">
                                        <img src="{% static 'icons/programming-languages.png' %}" height="25"> 
                                        Nothing yet
                                    </h2>
                                    <h5 class="text-light fw-light">
                                        Still learning - Nothing yet
                                    </h5>
                                    <h6 class="text-light fw-light">
                                        Period: Nothing yet
                                    </h6>
                                    <p class="text-light fw-light mt-2">
                                        Thoughts:<br>
                                        Nothing yet
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#programming-languages-slides" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#programming-languages-slides" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-xl-4 about-me-img-col">
            <img src="{% static 'images/programming-languages.png' %}" class="about-me-img">
        </div>
    </div>
    <div class="sh-div mt-3" id="skills">
        <h1 class="skills-text fw-light">
            Skills
        </h1>
        <div class="row sh-row">
            {% for skill in skills %}
                <div class="col sh-col">
                    <h4 class="skill">
                        {{ skill }}
                    </h4>
                </div>
            {% empty %}
                <h4 class="nothing-yet-text">Nothing yet</h4>
            {% endfor %}
        </div>
    </div>
    <div class="sh-div" id="hobbies">
        <h1 class="hobbies-text fw-light">
            Hobbies
        </h1>
        <div class="row sh-row">
            {% for hobby in hobbies %}
                <div class="col sh-col">
                    <h4 class="hobby">
                        {{ hobby }}
                    </h4>
                </div>
            {% empty %}
                <h4 class="nothing-yet-text">Nothing yet</h4>
            {% endfor %}
        </div>
    </div>
    <div class="resume-link-div" id="resume">
        {% if information.resume_link %}
            <a href="{{ information.resume_link }}" class="resume-link">DOWNLOAD RESUME</a>
        {% else %}
            <h4 class="nothing-yet-text">Resume not available for now</h4>
        {% endif %}
    </div>
</div>
<script>
    var current_url = window.location.href.toString().replace('%20', '-');

    const work_exp_carousel_items = document.querySelectorAll('.work-exp-carousel-item');
    const education_carousel_items = document.querySelectorAll('.education-carousel-item');
    const languages_carousel_items = document.querySelectorAll('.languages-carousel-item');
    const programming_languages_carousel_items = document.querySelectorAll('.programming-languages-carousel-item');
    
    const carousel_indicators = document.querySelectorAll('.carousel-indicator');
    $(carousel_indicators[0]).addClass('active');
    $(carousel_indicators[0]).prop('aria-current', 'true');
    const carousel_indicators_2 = document.querySelectorAll('.carousel-indicator-2');
    $(carousel_indicators_2[0]).addClass('active');
    $(carousel_indicators_2[0]).prop('aria-current', 'true');
    const carousel_indicators_3 = document.querySelectorAll('.carousel-indicator-3');
    $(carousel_indicators_3[0]).addClass('active');
    $(carousel_indicators_3[0]).prop('aria-current', 'true');
    const carousel_indicators_4 = document.querySelectorAll('.carousel-indicator-4');
    $(carousel_indicators_4[0]).addClass('active');
    $(carousel_indicators_4[0]).prop('aria-current', 'true');

    if (current_url.indexOf('#') > 1 && current_url.indexOf('&') > 1 && current_url.indexOf('%') < 0) {
        let parent_item_index = current_url.indexOf('#') + 1;
        let child_item_index = current_url.indexOf('&') + 1;
        let parent_item_id = current_url.slice(parent_item_index, (child_item_index - 1));
        let child_item_id = current_url.slice(child_item_index);
        let parent_item = document.getElementById(parent_item_id);
        if (parent_item !== null && parent_item.querySelector('#' + child_item_id) !== null) {
            let child_item = document.getElementById(child_item_id);
            if (parentElementOfElements(work_exp_carousel_items, parent_item_id) === true) {
                $(child_item).addClass('active');
                ActivateCarouselItems(education_carousel_items, languages_carousel_items, programming_languages_carousel_items);
            } else if (parentElementOfElements(education_carousel_items, parent_item_id) === true) {
                $(child_item).addClass('active');
                ActivateCarouselItems(work_exp_carousel_items, languages_carousel_items, programming_languages_carousel_items);
            } else if (parentElementOfElements(languages_carousel_items, parent_item_id) === true) {
                $(child_item).addClass('active');
                ActivateCarouselItems(work_exp_carousel_items, education_carousel_items, programming_languages_carousel_items);
            } else if (parentElementOfElements(programming_languages_carousel_items, parent_item_id) === true) {
                $(child_item).addClass('active');
                ActivateCarouselItems(work_exp_carousel_items, education_carousel_items, languages_carousel_items);
            };
        } else {
            ActivateCarouselItems(
                work_exp_carousel_items, 
                education_carousel_items, 
                languages_carousel_items, 
                programming_languages_carousel_items
            );
        }
    } else {
        ActivateCarouselItems(
            work_exp_carousel_items, 
            education_carousel_items, 
            languages_carousel_items, 
            programming_languages_carousel_items
        );
    };

    function ActivateCarouselItems() {
        for (let i = 0; i < arguments.length; i++) {
            let NodeList = arguments[i];
            $(NodeList[0]).addClass('active');
        };
    };

    function parentElementOfElements(elements, parent_id) {
        var result;
        elements.forEach(element => {
            if ($(element).parent().attr('id') === parent_id) {
                result = true; 
            } else {
                return false;
            }
        });
        return result;
    };
</script>
{% endblock content %}