{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title id="tab-title">{% translate 'Abdurakhmon Omonov' %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}">
        <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script language="JavaScript" type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    </head>
    <body id="main_body">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% include 'main/includes/loader.html' %}
        <div class="container main-page-header">
            <div class="row media-links-row mx-auto">
                <div class="col link-col">
                    <a href="https://www.github.com/abdurakhmon811" class="fw-bold github">
                        GitHub
                    </a>
                </div>
                <div class="col link-col">
                    <a href="mailto:abdurakhmonomonov@gmail.com" class="fw-bold gmail">
                        Gmail
                    </a>
                </div>
                <div class="col link-col">
                    <a href="https://www.linkedin.com/in/abdurakhmon-omonov-4a0601251/" class="fw-bold linkedin">
                        LinkedIn
                    </a>
                </div>
                <div class="col link-col">
                    <a href="https://www.telegram.me/abduraxmonomonov" class="fw-bold telegram">
                        Telegram
                    </a>
                </div>
                <div class="col link-col">
                    <a href="https://twitter.com/abdurakhmon811" class="fw-bold twitter">
                        Twitter
                    </a>
                </div>
            </div>
        </div>
        <div class="second-main-page-header">
            <form class="d-flex mx-auto" id="search-form-trigger">
                <input class="form-control search-input fw-bold"
                placeholder="{% translate 'Type your keyword to search' %}"
                id="search-input-field-trigger">
                <a type="button"
                class="clear-btn"
                id="clear-btn-trigger">
                    <img src="{% static 'icons/close-icon.png' %}" class="clear-btn-img">
                </a>
                <a class="btn"
                data-bs-toggle="modal" 
                data-bs-target="#search-results-modal" 
                id="search-modal-trigger">
                    <img src="{% static 'icons/search_grey.png' %}" id="search-grey">
                </a>
                <div class="dropdown-center">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'icons/languages.png' %}" height="25">
                    </button>
                    <ul class="dropdown-menu">
                        <a id="de">
                            <li class="dropdown-item">
                                {% translate "Deutsch" %}
                            </li>
                        </a>
                        <a id="en">
                            <li class="dropdown-item">
                                {% translate "English" %}
                            </li>
                        </a>
                        <a id="ru">
                            <li class="dropdown-item">
                                {% translate "Russian" %}
                            </li>
                        </a>
                        <a id="uz">
                            <li class="dropdown-item">
                                {% translate "Uzbek" %}
                            </li>
                        </a>
                    </ul>
                </div>
            </form>
        </div>
        <div class="modal fade" tabindex="-1" id="search-results-modal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <form class="mx-auto w-100" id="search-form-main">
                            <input class="form-control search-input ms-0 fw-bold"
                            placeholder="{% translate 'Type your keyword to search' %}"
                            role="search"
                            id="search-input-field-main">
                            <a type="button"
                            class="clear-btn"
                            id="clear-btn-main">
                                <img src="{% static 'icons/close-icon.png' %}" class="clear-btn-img">
                            </a>
                            <button type="button"
                            class="btn-close btn-close-white" 
                            aria-label="Close" 
                            data-bs-dismiss="modal"
                            id="close-search-modal">
                            </button>
                        </form>
                    </div>
                    <div class="modal-body ps-0 pe-0" id="search-results-body">
                        <h5 class="nothing-yet-text text-center fw-bold mt-5 mb-5">
                            {% translate "Type your keyword above to search" %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand bg-body-tertiary fixed-bottom">
            <div class="container-fluid">
                <div class="mx-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" 
                            class="nav-link custom-nav-link main-page fw-bold"
                            id="main-page">
                                {% translate "Main page" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'projects' %}" 
                            class="nav-link custom-nav-link projects fw-bold"
                            id="projects">
                                {% translate "Projects" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" 
                            class="nav-link custom-nav-link about fw-bold"
                            id="about">
                                {% translate "About me" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact_details' %}" 
                            class="nav-link custom-nav-link contact-details fw-bold"
                            id="contact-details">
                                {% translate "Contact details" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script>
            // Global variables or constants go here
            const main_search = document.querySelector('#search-input-field-main');
            const trigger_search = document.querySelector('#search-input-field-trigger');
            const clear_buttons = document.querySelectorAll('.clear-btn');
            const clear_btn_main = document.querySelector('#clear-btn-main');
            const clear_btn_trigger = document.querySelector('#clear-btn-trigger');
            var current_url = window.location.href.toString().replace('%20', '-');
            var tab_title = document.getElementById('tab-title');

            $('#de').prop('href', '/de/' + window.location.pathname.slice(4));
            $('#en').prop('href', '/en/' + window.location.pathname.slice(4));
            $('#ru').prop('href', '/ru/' + window.location.pathname.slice(4));
            $('#uz').prop('href', '/uz/' + window.location.pathname.slice(4));
            
            // Event based functions go below
            $(clear_btn_main).on('click', function () {
                let search_sentence = "{% translate 'Type your keyword above to search' %}";
                ClearText(
                    ClearSearchModal(search_sentence),
                    ClearBtn(hide=true, document.querySelectorAll('.clear-btn')),
                    document.querySelector('#search-input-field-main'),
                    document.querySelector('#search-input-field-trigger'),
                );
            });

            $(clear_btn_trigger).on('click', function () {
                let search_sentence = "{% translate 'Type your keyword above to search' %}";
                ClearText(
                    ClearSearchModal(search_sentence),
                    ClearBtn(hide=true, document.querySelectorAll('.clear-btn')),
                    document.querySelector('#search-input-field-main'),
                    document.querySelector('#search-input-field-trigger'),
                );
            });

            $(document).ready(function () {
                var current_page = document.querySelector("a[href='" + location.pathname + "']:not([id='{{ LANGUAGE_CODE }}'])");
                var icon_name = current_page.textContent.toLowerCase().trim().replace(' ', '_');
                $('#loader').hide();
                if (window.innerWidth > 616) {
                    $(current_page).css('background-color', '#2dc90ee5');
                    $(current_page).css('box-shadow', '0 0 1.2rem #2dc90ee5');
                    $(current_page).css('color', '#fff');
                    $(current_page).css('height', '100%');
                    $(current_page).css('transition', 'none');
                } else {
                    $(current_page).css('background-color', '#2dc90ee5');
                    $(current_page).css('box-shadow', '0 0 1.2rem #2dc90ee5');
                    $(current_page).css('height', '100%');
                    $(current_page).css('transition', 'none');
                    $(current_page).addClass('current');
                };

                if (current_url.indexOf('#') > 1 && current_url.indexOf('%') > 1 && current_url.indexOf('&') < 0) {
                    let index_of_item = current_url.indexOf('%') + 1;
                    let item_id = current_url.slice(index_of_item);
                    let item = document.getElementById(item_id);
                    if (item) {
                        item.scrollIntoView(
                            {
                                block: 'center', 
                                behavior: 'smooth'
                            }
                        );
                    }; 
                } else if (current_url.indexOf('#') > 1 && current_url.indexOf('&') > 1 && current_url.indexOf('%') < 0) {
                    let parent_item_index = current_url.indexOf('#') + 1;
                    let child_item_index = current_url.indexOf('&') + 1;
                    let parent_item_id = current_url.slice(parent_item_index, (child_item_index - 1));
                    let parent_item = document.getElementById(parent_item_id);
                    if (parent_item) {
                        parent_item.scrollIntoView(
                            {
                                block: 'center',
                                behavior: 'smooth'
                            }
                        );
                    };
                } else if (current_url.indexOf('#') > 1 && current_url.indexOf('%') < 0 && current_url.indexOf('&') < 0) {
                    let index_of_item = current_url.indexOf('#') + 1;
                    let item_id = current_url.slice(index_of_item);
                    let item = document.getElementById(item_id);
                    if (item) {
                        item.scrollIntoView(
                            {
                                block: 'center', 
                                behavior: 'smooth'
                            },
                        );
                    };
                };

                let cleaned_current_url = ClearPath(current_url);
                if (cleaned_current_url.endsWith('/projects/')) {
                    tab_title.innerHTML = "{% translate 'Projects - Abdurakhmon Omonov' %}";
                } else if (cleaned_current_url.endsWith('/about/')) {
                    tab_title.innerHTML = "{% translate 'About - Abdurakhmon Omonov' %}";
                } else if (cleaned_current_url.endsWith('/contact-details/')) {
                    tab_title.innerHTML = "{% translate 'Contact details - Abdurakhmon Omonov' %}";
                };
            });

            $(main_search).on('keydown keyup', function (e) {
                if ($(main_search).val() === '' || $(main_search).val() === ' ' || 
                    $(main_search).val() === null || $(main_search).val() === undefined) {
                    let search_sentence = "{% translate 'Type your keyword above to search' %}";
                    ClearSearchModal(search_sentence);
                    ClearBtn(hide=true, clear_buttons);
                } else {
                    ClearBtn(arguments=clear_buttons);
                };
            });

            $(main_search).on('input', event => {
                GetDataAjax(
                    '/{{ LANGUAGE_CODE }}/search/', 
                    'json', 
                    '#search-input-field-main', 
                    '#search-input-field-trigger', 
                    ManageAjaxResults
                );
                ExchangeSearchVal(
                    document.getElementById('search-input-field-main'),
                    document.getElementById('search-input-field-trigger'),
                );
            });

            $(main_search).on('keypress', event => {
                if (event.keyCode === 13) {
                    return false;
                };
            });

            $(trigger_search).on('keydown keyup', function (e) {
                if ($(trigger_search).val() === '' || $(trigger_search).val() === ' ' || 
                    $(trigger_search).val() === null || $(trigger_search).val() === undefined) {
                    let search_sentence = "{% translate 'Type your keyword above to search' %}";
                    ClearSearchModal(search_sentence);
                    ClearBtn(hide=true, clear_buttons);
                } else {
                    ClearBtn(arguments=clear_buttons);
                };
            });

            $(trigger_search).on('input', event => {
                GetDataAjax(
                    '/{{ LANGUAGE_CODE }}/search/', 
                    'json', 
                    '#search-input-field-main', 
                    '#search-input-field-trigger', 
                    ManageAjaxResults
                );
                ExchangeSearchVal(
                    document.getElementById('search-input-field-trigger'),
                    document.getElementById('search-input-field-main'),
                );
            });

            $(trigger_search).on('keypress', event => {
                if (event.keyCode === 13) {
                    return false;
                };
            });
            
            // Other functions/methods go below
            function ClearBtn(hide=false) {
                if (hide === true) {
                    for (let i = 0; i < arguments.length; i++) {
                        $(arguments[i]).css('display', 'none');
                    };
                } else {
                    for (let i = 0; i < arguments.length; i++) {
                        $(arguments[i]).css('display', 'block');
                    };
                };
            };

            function ClearSearchModal(message) {
                $('#search-results-body').empty();
                $('#search-results-body').append(
                    '<h5 class="nothing-yet-text text-center fw-bold mt-5 mb-5">' + message + '</h5>'
                );
            };

            function ClearPath(path) {
                if (path.indexOf('#') > -1) {
                    return path.slice(0, path.indexOf('#'));
                } else {
                    return path;
                };
            };

            function ClearText(function_to_execute, clear_button_function) {
                for (let i = 0; i < arguments.length; i++) {
                    $(arguments[i]).prop('value', '');
                };
                function_to_execute;
                clear_button_function;
            };

            function DirectionHandler(current_path, els_or_el) {
                current_path = ClearPath(current_path);
                if (els_or_el instanceof NodeList || els_or_el instanceof HTMLCollection) {
                    for (let i = 0; i < els_or_el.length; i++) {
                        let link = els_or_el[i];
                        $(link).on('click', () => {
                            let cleaned_href = ClearPath($(link).attr('href'));
                            if (current_path.endsWith(cleaned_href)) {
                                window.location.href = $(link).attr('href');
                                window.location.reload();
                            };
                        });
                    };
                } else {
                    $(els_or_el).on('click', () => {
                        let cleaned_href = ClearPath($(els_or_el).attr('href'));
                        if (current_path.endsWith(cleaned_href)) {
                            window.location.href = $(els_or_el).attr('href');
                            window.location.reload();
                        };
                    });
                };
            };

            function ExchangeSearchVal(source_input, target_input) {
                $(target_input).prop('value', $(source_input).val());
            };

            function GetDataAjax(url, datatype, searching_for, searching_for_2, on_success) {
                jQuery.ajax({
                    url: url,
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    dataType: datatype,
                    data: {
                        searching_for: $(searching_for).val() || $(searching_for_2).val(),
                    },
                    success: function (data) {
                        on_success(data);
                        DirectionHandler(current_url, document.querySelectorAll('.search-link'));
                    },
                });
            };

            function TranslateDC(text, language_code) {
                let translations = text.split('|||');
                for (let i = 0; i < translations.length; i++) {
                    let translation = translations[i].trim();
                    if (translation.startsWith('--' + language_code)) {
                        return translation.replace('--' + language_code, '').trim();
                    };
                };
                return translations[0].replace('--' + language_code, '').trim();
            };

            function Truncate(text, length) {
                if (text.length > length) {
                    return text.slice(0, length) + '...';
                } else {
                    return text
                };
            };

            function hasWhiteSpace(str) {
                return /\s/g.test(str);
            };

            function toTitleCase(str) {
                return (str[0].toUpperCase() + str.slice(1));
            };

            function ManageAjaxResults(data) {
                if (data.searching_for && data.searching_for !== '' && 
                    data.searching_for !== null && data.searching_for !== undefined) {
                    $('#search-results-body').empty();
                    if (data.personal_information.length > 0) {
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "About" %}</p>'
                        );
                        for (let i = 0; i < data.personal_information.length; i++) {
                            let dict = data.personal_information[i];
                            if (dict['full_bio'].toLowerCase().includes(data.searching_for.toLowerCase())) {
                                let truncated_40 = Truncate(TranslateDC(dict['full_bio'], '{{ LANGUAGE_CODE }}'), 40);
                                let truncated_20 = Truncate(TranslateDC(dict['full_bio'], '{{ LANGUAGE_CODE }}'), 20);
                                $('#search-results-body').append(
                                    '<a href="/{{ LANGUAGE_CODE }}/about/#bio" class="search-link" id="fb-' + i + '"></a>'
                                );
                                $('#fb-' + i).append(
                                    '<div class="search-result" id="fb-div-' + i + '"></div>'
                                );
                                $('#fb-div-' + i).append(
                                    '<h5 class="info-text fw-bold">' + truncated_40 + '</h5>'
                                );
                                $('#fb-div-' + i).append(
                                    '<p class="text-light fw-light">{% translate "about" %} &gt; {% translate "author-bio" %} &gt; ' + truncated_20 + '</p>'
                                );
                            };
                            if (dict['skills'].toLowerCase().includes(data.searching_for.toLowerCase())) {
                                let truncated_40 = Truncate(dict['skills'], 40);
                                let truncated_20 = Truncate(dict['skills'], 20);
                                $('#search-results-body').append(
                                    '<a href="/{{ LANGUAGE_CODE }}/about/#skills" class="search-link" id="s-' + i + '"></a>'
                                );
                                $('#s-' + i).append(
                                    '<div class="search-result" id="s-div-' + i + '"></div>'
                                );
                                $('#s-div-' + i).append(
                                    '<h5 class="info-text fw-bold">' + truncated_40 + '</h5>'
                                );
                                $('#s-div-' + i).append(
                                    '<p class="text-light fw-light">{% translate "about" %} &gt; {% translate "skills" %} &gt; ' + truncated_20 + '</p>'
                                );
                            };
                            if (dict['hobbies'].toLowerCase().includes(data.searching_for.toLowerCase())) {
                                let truncated_40 = Truncate(TranslateDC(dict['hobbies'], '{{ LANGUAGE_CODE }}'), 40);
                                let truncated_20 = Truncate(TranslateDC(dict['hobbies'], '{{ LANGUAGE_CODE }}'), 20);
                                $('#search-results-body').append(
                                    '<a href="/{{ LANGUAGE_CODE }}/about/#hobbies" class="search-link" id="h-' + i + '"></a>'
                                );
                                $('#h-' + i).append(
                                    '<div class="search-result" id="h-div-' + i + '"></div>'
                                );
                                $('#h-div-' + i).append(
                                    '<h5 class="info-text fw-bold">' + truncated_40 + '</h5>'
                                );
                                $('#h-div-' + i).append(
                                    '<p class="text-light fw-light">{% translate "about" %} &gt; {% translate "hobbies" %} &gt; ' + truncated_20 + '</p>'
                                );
                            };
                        };
                        if (data.resulting_lookup !== null && data.resulting_lookup.endsWith('-is_id') === true) {
                            let slug = data.resulting_lookup.replace('-is_id', '');
                            slug = (hasWhiteSpace(slug) === true) ? slug.replace(/\s/g, '-'):slug;
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/about/#' + slug + '" class="search-link" id="lookup-anchor-' + slug + '"></a>'
                            );
                            $('#lookup-anchor-' + slug).append(
                                '<div class="search-result" id="lookup-div-' + slug + '"></div>'
                            );
                            $('#lookup-div-' + slug).append(
                                '<h5 class="info-text fw-bold">' + toTitleCase(slug).replace('-', ' ') + '</h5>'
                            );
                        };
                    } else {
                        if (data.resulting_lookup !== null && data.resulting_lookup.endsWith('-is_id') === true) {
                            let slug = data.resulting_lookup.replace('-is_id', '');
                            slug = (hasWhiteSpace(slug) === true) ? slug.replace(/\s/g, '-'):slug;
                            $('#search-results-body').append(
                                '<p class="search-results-header">{% translate "About" %}</p>'
                            );
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/about/#' + slug + '" class="search-link" id="lookup-anchor-' + slug + '"></a>'
                            );
                            $('#lookup-anchor-' + slug).append(
                                '<div class="search-result" id="lookup-div-' + slug + '"></div>'
                            );
                            $('#lookup-div-' + slug).append(
                                '<h5 class="info-text fw-bold">' + toTitleCase(slug).replace('-', ' ') + '</h5>'
                            );
                        };
                    };
                    if (data.work_experience.length > 0) {
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "Work experience" %}</p>'
                        );
                        for (let i = 0; i < data.work_experience.length; i++) {
                            let dict = data.work_experience[i];
                            dict['work_place'] = (hasWhiteSpace(dict['work_place']) === true) ? TranslateDC(dict['work_place'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['work_place'], '{{ LANGUAGE_CODE }}');
                            dict['as_a'] = (hasWhiteSpace(dict['as_a']) === true) ? TranslateDC(dict['as_a'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['as_a'], '{{ LANGUAGE_CODE }}');
                            let truncated_15 = Truncate(TranslateDC(dict['comment'], '{{ LANGUAGE_CODE }}'), 15);
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/about/#work-experience&' + dict['work_place'] + '" class="search-link" id="we-' + i + '"></a>'
                            );
                            $('#we-' + i).append(
                                '<div class="search-result" id="we-div-' + i + '"></div>'
                            );
                            $('#we-div-' + i).append(
                                '<h5 class="info-text fw-bold">' + dict['work_place'] + '</h5>'
                            );
                            $('#we-div-' + i).append(
                                '<h6 class="text-light fw-light">' + dict['as_a'] + '</h6>'
                            );
                            $('#we-div-' + i).append(
                                '<p class="text-light fw-light">{% translate "about" %} &gt; {% translate "work-experience" %} &gt; ' + dict['as_a'] + ' &gt; ' + truncated_15 + '</p>'
                            );
                        };
                    };
                    if (data.education.length > 0) {
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "Education" %}</p>'
                        );
                        for (let i = 0; i < data.education.length; i++) {
                            let dict = data.education[i];
                            dict['education'] = (hasWhiteSpace(dict['education']) === true) ? TranslateDC(dict['education'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['education'], '{{ LANGUAGE_CODE }}');
                            dict['institution'] = (hasWhiteSpace(dict['institution']) === true) ? TranslateDC(dict['institution'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['institution'], '{{ LANGUAGE_CODE }}');
                            dict['faculty'] = (hasWhiteSpace(dict['faculty']) === true) ? TranslateDC(dict['faculty'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['faculty'], '{{ LANGUAGE_CODE }}');
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/about/#education&' + dict['education'] + '" class="search-link" id="e-' + i + '"></a>'
                            );
                            $('#e-' + i).append(
                                '<div class="search-result" id="e-div-' + i + '"></div>'
                            );
                            $('#e-div-' + i).append(
                                '<h5 class="info-text fw-bold">' + dict['education'] + '</h5>'
                            );
                            $('#e-div-' + i).append(
                                '<h6 class="text-light fw-light">' + dict['institution'] + '</h6>'
                            );
                            $('#e-div-' + i).append(
                                '<p class="text-light fw-light">{% translate "about" %} &gt; {% translate "education" %} &gt; ' + dict['institution'] + ' &gt; ' + dict['faculty'] + '...</p>'
                            );
                        };
                    };
                    if (data.languages.length > 0) {
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "Languages" %}</p>'
                        );
                        for (let i = 0; i < data.languages.length; i++) {
                            let dict = data.languages[i];
                            dict['language'] = (hasWhiteSpace(dict['language']) === true) ? TranslateDC(dict['language'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['language'], '{{ LANGUAGE_CODE }}');
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/about/#languages&' + dict['language'] + '" class="search-link" id="l-' + i + '"></a>'
                            );
                            $('#l-' + i).append(
                                '<div class="search-result" id="l-div-' + i + '"></div>'
                            );
                            $('#l-div-' + i).append(
                                '<h5 class="info-text fw-bold">' + dict['language'] + '</h5>'
                            );
                            $('#l-div-' + i).append(
                                '<h6 class="text-light fw-light">' + TranslateDC(dict['knowledge_extent'], '{{ LANGUAGE_CODE }}') + '</h6>'
                            );
                            $('#l-div-' + i).append(
                                '<p class="text-light fw-light">{% translate "about" %} &gt; {% translate "languages" %} &gt; ' + dict['language'] + ' &gt; ' + TranslateDC(dict['knowledge_extent'], '{{ LANGUAGE_CODE }}') + '...</p>'
                            );
                        };
                    };
                    if (data.programming_languages.length > 0) {
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "Programming languages" %}</p>'
                        );
                        for (let i = 0; i < data.programming_languages.length; i++) {
                            let dict = data.programming_languages[i];
                            dict['language'] = (hasWhiteSpace(dict['language']) === true) ? TranslateDC(dict['language'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['language'], '{{ LANGUAGE_CODE }}');
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/about/#programming&' + dict['language'] + '" class="search-link" id="pl-' + i + '"></a>'
                            );
                            $('#pl-' + i).append(
                                '<div class="search-result" id="pl-div-' + i + '"></div>'
                            );
                            $('#pl-div-' + i).append(
                                '<h5 class="info-text fw-bold">' + dict['language'] + '</h5>'
                            );
                            $('#pl-div-' + i).append(
                                '<p class="text-light fw-light">{% translate "about" %} &gt; {% translate "programming-languages" %} &gt; ' + dict['language'] + '...</p>'
                            );
                        };
                    };
                    if (data.my_projects.length > 0) {
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "Projects" %}</p>'
                        );
                        for (let i = 0; i < data.my_projects.length; i++) {
                            let dict = data.my_projects[i];
                            dict['project_name'] = (hasWhiteSpace(dict['project_name']) === true) ? dict['project_name'].replace(/\s/g, '-'):dict['project_name'];
                            let truncated_20 = Truncate(TranslateDC(dict['description'], '{{ LANGUAGE_CODE }}'), 20);
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/projects/#projects%' + dict['project_name'] + '" class="search-link" id="mp-' + i + '"></a>'
                            );
                            $('#mp-' + i).append(
                                '<div class="search-result" id="mp-div-' + i + '"></div>'
                            );
                            $('#mp-div-' + i).append(
                                '<h5 class="info-text fw-bold">' + dict['project_name'] + '</h5>'
                            );
                            $('#mp-div-' + i).append(
                                '<p class="text-light fw-light">{% translate "projects" %} &gt; ' + dict['project_name'] + ' &gt; ' + truncated_20 + '</p>'
                            );
                        };
                    };
                    if (data.contact_information.length > 0) {
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "Contact" %}</p>'
                        );
                        for (let i = 0; i < data.contact_information.length; i++) {
                            let dict = data.contact_information[i];
                            dict['media'] = (hasWhiteSpace(dict['media']) === true) ? TranslateDC(dict['media'], '{{ LANGUAGE_CODE }}').replace(/\s/g, '-'):TranslateDC(dict['media'], '{{ LANGUAGE_CODE }}');
                            let truncated_20 = Truncate(TranslateDC(dict['comment'], '{{ LANGUAGE_CODE }}'), 20);
                            $('#search-results-body').append(
                                '<a href="/{{ LANGUAGE_CODE }}/contact-details/#contact-information%detail-' + dict['id'] + '" class="search-link" id="ci-' + i + '"></a>'
                            );
                            $('#ci-' + i).append(
                                '<div class="search-result" id="ci-div-' + i + '"></div>'
                            );
                            $('#ci-div-' + i).append(
                                '<h5 class="info-text fw-bold">' + dict['media'] + '</h5>'
                            );
                            $('#ci-div-' + i).append(
                                '<p class="text-light fw-light">{% translate "contact" %} &gt; ' + dict['media'] + ' &gt; ' + truncated_20 + '</p>'
                            );
                        };
                    };
                    if (data.resulting_lookup !== null && data.resulting_lookup.endsWith('-is_link') === true) {
                        var slug = data.resulting_lookup.replace('-is_link', '');
                        $('#search-results-body').append(
                            '<p class="search-results-header">{% translate "Navigation" %}</p>'
                        );
                        $('#search-results-body').append(
                            '<a href="/{{ LANGUAGE_CODE }}/' + TranslateDC(slug, 'en').replace(/\s/g, '-') + '/" class="search-link" id="' + TranslateDC(slug, 'en').replace(/\s/g, '-') + '-route"></a>'
                        );
                        $('#' + TranslateDC(slug, 'en').replace(/\s/g, '-') + '-route').append(
                            '<div class="search-result" id="' + TranslateDC(slug, 'en').replace(/\s/g, '-') + '-route-div"></div>'
                        );
                        $('#' + TranslateDC(slug, 'en').replace(/\s/g, '-') + '-route-div').append(
                            '<h5 class="info-text fw-bold">' + toTitleCase(TranslateDC(slug, '{{ LANGUAGE_CODE }}')).replace('-', ' ') + '</h5>'
                        );
                        console.log(TranslateDC(slug, 'en').replace(/\s/g, '-'))
                    };
                };
                if (data.not_found === true && data.resulting_lookup === null) {
                    let no_data = "{% translate 'No data found' %}"
                    ClearSearchModal(no_data);
                };
            };
        </script>
        {% block content %}{% endblock content %}
    </body>
</html>