{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="EI=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Abdurakhmon Omonov{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <!-- TODO: Add favicon -->
        <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script language="JavaScript" type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    </head>
    <body id="main_body">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <div class="language-legend">
            <div class="dropdown">
                <a class="dimgray-link fw-light"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                    <img src="{% static 'icons/languages.png' %}" height="27">
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item fw-light"
                        href="">
                            English
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fw-light"
                        href="">
                            Russian
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fw-light"
                        href="">
                            Uzbek
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-expand bg-body-tertiary fixed-bottom">
            <div class="container-fluid">
                <div class="mx-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link custom-nav-link fw-bold">
                                Main page
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'projects' %}" class="nav-link custom-nav-link fw-bold">
                                Projects
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link custom-nav-link fw-bold">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact_details' %}" class="nav-link custom-nav-link fw-bold">
                                Contact details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link custom-nav-link fw-bold">
                                Statistics
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>