{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="row contact-row">
    <div class="col-md contact-col">
        <img src="{% static 'images/gmail.jpg' %}" class="contact-img">
    </div>
    <div class="col-md contact-col">
        <img src="{% static 'images/linkedin.jpg' %}" class="contact-img">
    </div>
</div>
<div class="row about-row">
    <div class="col-md contact-col">
        <img src="{% static 'images/telegram.jpg' %}" class="contact-img">
    </div>
    <div class="col-md contact-col">
        <img src="{% static 'images/twitter.jpg' %}" class="contact-img">
    </div>
</div>
{% endblock content %}