{% extends 'main/base.html' %}
{% load i18n %}
{% load markdownify %}

{% block content %}
<div class="row main-row">
    <div class="col-xl-8">
        <h1 class="display-3 hi-there">
            {% translate 'Hi there!' %}
        </h1>
        <h4 class="short-bio">
            {{ information.short_bio|translate_dc:LANGUAGE_CODE|markdownify }}
        </h4>
    </div>
    <div class="col-xl-4 main-image-col">
        <img src="{{ information.avatar.url }}" class="avatar">
    </div>
</div>
<script>
    $('.main-row').css('opacity', '0');
    $('.main-row').css('transform', 'translateY(-20px)');
    $(document).ready(function (e) {
        const row = document.querySelector('.main-row');
        $(row).addClass('show-smoothly');
    });
</script>
{% endblock content %}