/* HTML elements */
body {
    background-color: #1E1E1E;
    padding-bottom: 80px;
}

/* Classes */
.custom-nav-link {
    color: #7E7E7E;
    transition: all 0.15s ease-in-out;
}
.custom-nav-link:hover {
    color: #fff;
}
.custom-nav-link:active {
    color: #fff;
}
.dimgray-link {
    color: #7E7E7E;
    transition: all 0.15s ease-in-out;
}
.dimgray-link:hover {
    color: #fff;
}
.dimgray-link:active {
    color: #fff;
}
.dropdown-item {
    color:#fff;
}
.dropdown-item:hover {
    background-color: #fff;
    color: #000;
}
.dropdown-menu {
    background-color: #313131;
}
.language-legend {
    display: flex;
    float: right;
    margin-top: 1.5rem;
    margin-right: 0rem;
}
.navbar {
    background-color: #313131;
    border: none;
    height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}
/* Not used yet */
.white-link {
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.white-link:hover {
    color: #fff;
}

/* IDs */
