/* HTML elements */
a {
    color: #ff3300e5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #b92500;
}
body {
    background-color: #1e1e1e;
    padding-bottom: 80px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #7e7e7e !important;
}

/* Classes */
.about-me-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    margin: 0;
    padding: 2rem;
    width: 100%;
}
@media only screen and (max-width: 1200px) {
    .about-me-body {
        padding: 0;
        padding-bottom: 2rem;
    }
}
.about-me-header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    width: 100%;
}
.about-me-img {
    filter: brightness(80%);
    height: 200px;
}
.about-me-img-col {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
@media only screen and (max-width: 1199px) {
    .about-me-img-col {
        margin-bottom: 1.5rem;
    }
}
.about-me-row {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
@media only screen and (max-width: 1199px) {
    .about-me-row {
        height: fit-content;
    }
}
.avatar {
    border-radius: 50%;
    height: 320px;
}
@media only screen and (max-width: 1199px) {
    .avatar {
        height: 250px;
    }
}
.btn {
    box-shadow: none;
}
.btn:hover {
    box-shadow: none;
}
.btn:active {
    box-shadow: none;
}
.btn:focus {
    box-shadow: none;
}
.btn-close {
    box-shadow: none;
}
.btn-close:hover {
    box-shadow: none;
}
.btn-close:active {
    box-shadow: none;
}
.btn-close:focus {
    box-shadow: none;
}
.card-img-overlay {
    font-weight: 300;
    padding: 2rem;
}
.carousel-item {
    transition: all 1s ease-in-out;
}
.contact-col {
    padding: 0;
}
.contact-img {
    filter: brightness(60%);
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.contact-row {
    margin: 0;
    padding: 0;
    width: 100%;
}
.custom-caption {
    align-items: center;
    display: flex;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: start;
    width: 100%;
}
.custom-nav-link {
    background-color: transparent;
    border-radius: 1.5rem;
    color: #7e7e7e;
    display: flex;
    transition: all 0.2s ease-in-out;
    height: 0%;
}
.custom-nav-link:hover {
    background-color: #00afe2;
    color: #fff;
    height: 100%;
}
.custom-nav-link:active {
    background-color: #0082a7;
    color: #fff;
    height: 100%;
}
@media only screen and (max-width: 616px) {
    .main-page {
        content: url('../icons/main_page_grey.png');
        height: 50px;
        transition: all 0.2s ease-in-out;
        width: 50px;
    }
    .main-page:hover {
        content: url('../icons/main_page_white.png');
    }
    .main-page:active {
        content: url('../icons/main_page_white.png');
    }
    .projects {
        content: url('../icons/projects_grey.png');
        height: 50px;
        transition: all 0.2s ease-in-out;
        width: 50px;
    }
    .projects:hover {
        content: url('../icons/projects_white.png')
    }
    .projects:active {
        content: url('../icons/projects_white.png')
    }
    .about {
        content: url('../icons/about_grey.png');
        height: 50px;
        transition: all 0.2s ease-in-out;
        width: 50px;
    }
    .about:hover {
        content: url('../icons/about_white.png')
    }
    .about:active {
        content: url('../icons/about_white.png')
    }
    .contact-details {
        content: url('../icons/contact_details_grey.png');
        height: 50px;
        transition: all 0.2s ease-in-out;
        width: 50px;
    }
    .contact-details:hover {
        content: url('../icons/contact_details_white.png')
    }
    .contact-details:active {
        content: url('../icons/contact_details_white.png')
    }
    .statistics {
        content: url('../icons/statistics_grey.png');
        height: 50px;
        transition: all 0.2s ease-in-out;
        width: 50px;
    }
    .statistics:hover {
        content: url('../icons/statistics_white.png')
    }
    .statistics:active {
        content: url('../icons/statistics_white.png')
    }
    .github {
        content: url('../icons/github.png');
        height: 25px;
        width: 25px;
    }
    .gmail {
        content: url('../icons/gmail.png');
        height: 25px;
        width: 25px;
    }
    .linkedin {
        content: url('../icons/linkedin.png');
        height: 25px;
        width: 25px;
    }
    .telegram {
        content: url('../icons/telegram.png');
        height: 25px;
        width: 25px;
    }
    .twitter {
        content: url('../icons/twitter.png');
        height: 25px;
        width: 25px;
    }
}
.dropdown-menu {
    background-color: rgba(49, 49, 49, 40%);
}
.dropdown-item {
    display: flex;
    justify-content: center;
}
.dropdown-item a {
    color: #7e7e7e;
    text-decoration: none;
}
.dropdown-item:hover {
    background-color: #00afe2;
}
.dropdown-item:hover a {
    color: #fff;
}
.form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #7e7e7e;
}
.form-control:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #7e7e7e;
}
.form-control:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #7e7e7e;
}
.form-control:active {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #7e7e7e;
}
.github {
    background-clip: text;
    background-image: linear-gradient(to right, #d028ff, #9d46ff);
    background-size: 100%;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.gmail {
    background-clip: text;
    background-image: linear-gradient(to right, #4285f4, #db4437, #f4b400, #0f9d58);
    background-size: 100%;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.hi-there {
    background-clip: text;
    background-image: linear-gradient(to right, #ff3300e5, #0011ff 60%);
    background-size: 100%;
    margin-bottom: 2rem;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
@media only screen and (max-width: 1200px) {
    .hi-there {
        background-image: linear-gradient(to right, #ff3300e5 35%, #0011ff);
        display: flex;
        justify-content: center;
    }
}
.hobbies-text {
    color: #00afe2;
}
.hobby {
    background-color: #00afe2;
    border-radius: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    transition: all 0.2s ease-in-out;
}
.hobby:hover {
    background-color: #00a2d3;
}
.hobby:active {
    background-color: #008fbb;
}
@media only screen and (max-width: 1200px) {
    .hobby {
        margin-left: 0;
    }
}
.info-text {
    color: #ff3300e5;
}
.inner-caption {
    align-items:baseline;
    display: flex;
    flex-direction: column;
}
.link-col {
    display: flex;
    justify-content: center;
}
.linkedin {
    background-clip: text;
    background-image: linear-gradient(to right, #0077b5, #015988);
    background-size: 100%;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.loader {
    animation: loader linear infinite;
    border: 4px dashed #00afe2;
    border-radius: 50%;
    box-shadow: 0 0 2rem #00ade2ce;
    height: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    transition: all 0.3s ease-in-out;
    width: 60px;
    z-index: 99;
}
@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}
.loader-container {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
}
.main-image-col {
    align-items: center;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1200px) {
    .main-image-col {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 0;
        width: 100%;
    }
}
.main-page-header {
    border-bottom: 1px solid #444444;
    height: 40px;
    max-width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 0;
}
@media only screen and (max-width: 616px) {
    .main-page-header {
        height: 50px;
        padding-bottom: 12.5px;
        padding-top: 12.5px;
    }
}
.main-row {
    color: #fff;
    margin: 0;
    max-width: 100%;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .main-row {
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
}
@media only screen and (max-width: 767px) {
    .main-row {
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }
}
.media-links-row {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.modal-dialog {
    transition: all 2s ease-in-out;
    --bs-modal-border-radius: 1.5rem;
}
.modal-content {
    background-color: rgba(49, 49, 49, 80%);
    color: #fff;
}
.modal-header {
    border-color: #444444;
}
.navbar {
    background-color: rgba(49, 49, 49, 40%);
    border: none;
    height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.nav-item {
    margin-left: 1em;
    margin-right: 1em;
}
@media only screen and (max-width: 616px) {
    .nav-item {
        margin-left: 0.8em;
        margin-right: 0.8em;
    }
}
.next-pages-link {
    animation: gradient linear infinite;
    animation-direction: reverse;
    animation-duration: 20s;
    background: linear-gradient(to right, #ff3300e5, #0011ff, #ff3300e5) 0 0 / 400% 100%;
    background-clip: text;
    background-size: 400%;
    color: transparent;
    text-decoration: none;
    -webkit-background-clip: text;
}
.next-pages-link:hover {
    color: transparent;
}
.next-pages-link:active {
    color: transparent;
}
@keyframes gradient {
    to {
        background-position: 400% 0%;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 576px) {
    .no-projects {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 576px) {
    .no-projects {
        font-size: 1.4rem;
    }
}
.nothin-yet-text {
    color: #7e7e7e;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}
.nothin-yet-text:hover {
    color: #979797;
}
.nothin-yet-text:active {
    color: rgba(49, 49, 49, 40%);
}
.project-card {
    background-color: rgba(49, 49, 49, 40%);
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 1.3rem rgba(255, 255, 255, 40%);
    color: #fff;
    margin-bottom: 3rem;
    max-width: 500px;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}
.project-card:hover .project-image {
    transform: scale(1.1);
}
.project-card:active .project-image {
    transform: scale(1.15);
}
@media only screen and (max-width: 1200px) and (min-width: 1063px) {
    .project-card {
        max-width: 450px;
    }
}
@media only screen and (max-width: 1062px) and (min-width: 956px) {
    .card-img-overlay {
        padding: 1.2rem;
    }
    .project-card {
        max-width: 400px;
    }
}
@media only screen and (max-width: 485px) {
    .project-card {
        height: 230px;
        max-width: 100%;
    }
}
.project-image {
    background-size: cover;
    border-radius: 1.5rem;
    filter: brightness(40%);
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: left;
    transition: all 0.25s ease-in-out;
    width: 100%;
}
.projects-row {
    display: flex;
    justify-content: space-evenly;
}
.resume-link {
    color: #ff3300e5;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}
.resume-link-div {
    height: 100%;
    text-align: center;
    width: 100%;
}
.search-input {
    border-bottom: 1px solid #444444;
    border-radius: 0;
    margin-left: 31.22%;
    width: 30%;
    transition: all 0.2s ease-in-out;
}
.search-input:hover {
    border-bottom: 1px solid #7e7e7e;
}
.search-input:active {
    border-bottom: 1px solid #7e7e7e;
}
.search-input:focus {
    border-bottom: 1px solid #7e7e7e;
}
@media only screen and (max-width: 847px) and (min-width: 508px) {
    .search-input {
        margin-left: 20%;
        width: 50%;
    }
}
@media only screen and (max-width: 507px) {
    .search-input {
        margin-left: 3%;
        width: 95%;
    }
}
.second-header-row {
    margin: 0;
    width: 100%;
}
.second-main-page-header {
    max-width: 100%;
}
.sh-div {
    height: fit-content;
    padding-bottom: 2rem;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 2rem;
    width: 100%;
}
@media only screen and (max-width: 1200px) {
    .sh-div {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }
}
.sh-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
@media only screen and (max-width: 400px) {
    .sh-row {
        flex-direction: column;
    }
}
@media only screen and (max-width: 1200px) {
    .sh-row {
        justify-content: center;
    }
}
.short-bio {
    font-size: 2.3rem;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .short-bio {
        font-size: 2rem;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .short-bio {
        font-size: 1.6rem;
        text-align: center;
    }
}
.skill {
    background-color: #2dc90ee5;
    border-radius: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    transition: all 0.2s ease-in-out;
}
.skill:hover {
    background-color: #24b308e5;
}
.skill:active {
    background-color: #239e0ae5;
}
.skills-text {
    color: #2dc90ee5;
}
.telegram {
    background-clip: text;
    background-image: linear-gradient(to right, #229ed9, #fff);
    background-size: 100%;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.twitter {
    background-clip: text;
    background-image: linear-gradient(to right, #1da1f2, #00cdff);
    background-size: 100%;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ff3300e5;
}
::-webkit-scrollbar-thumb:hover {
    background: #b92500;
}
::-webkit-scrollbar-track {
    background: rgba(49, 49, 49, 40%);
}

/* IDs */
#no-projects {
    align-items: center;
    color: #7e7e7e;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 300;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
#no-projects:hover {
    color: #979797
}
#no-projects:active {
    color: rgba(49, 49, 49, 40%);
}
#no-projects-2 {
    align-items: center;
    color: #7e7e7e;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 300;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
#no-projects-2:hover {
    color: #979797
}
#no-projects-2:active {
    color: rgba(49, 49, 49, 40%);
}
#projects-container {
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    max-width: 100%;
}
#projects-container-2 {
    height: 100%;
    margin: 0;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    max-width: 100%;
}
#projects-header {
    border-bottom: 1px solid #444444;
    color: #7e7e7e;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}
#projects-header h1 {
    font-weight: 100;
}
#projects-header-2 {
    border-bottom: 1px solid #444444;
    border-top: 1px solid #444444;
    color: #7e7e7e;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}
#projects-header-2 h1 {
    font-weight: 100;
}
#search-grey {
    height: 25px;
}
#search-grey:hover {
    content: url('../icons/search_white.png');
    height: 25px;
}
#search-grey:active {
    content: url('../icons/search_grey.png');
    height: 25px;
}
@media only screen and (max-width: 1199px) {
    #should-be-reversed {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }
}
#visit-link {
    font-size: 1.5rem;
    font-weight: lighter;
}
